@charset "ISO-8859-1";

body {
	margin: 0px;
	padding: 0px;
	background: white;
}


.wrapper{
	width:100%;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


.menu{
	padding-top:40px;
	position:fixed;
	background: rgb(60,60,60);
	height: 800px;
	width: 15%;
	float:left;
	text-align: center;
	
}
.menuUnder{
	background: red;
	height: 600px;
	width: 15%;
	float:left;
}


.category{
	margin-bottom:4px;
	background: rgb(60,60,60);
	color: white;
	border: none;
	width: 110px;
	
}
.category:hover{
	background: rgb(60,90,180);
	transition: 0.08s;
}




.header{
	grid-column:1/4;
	background: blue;
	height: 200px;
}
.content{
	grid-column:1/4;
	background: green;
	height: 800px;
}