@charset "ISO-8859-1";

body {
	margin: 0px;
	padding: 0px;
	background: white;
}


.wrapper{
	width:100%;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


.menu{
	position:fixed;
	background: red;
	height: 600px;
	width: 15%;
	float:left;
}
.menuUnder{
	background: red;
	height: 600px;
	width: 15%;
	float:left;
}



.header{
	grid-column:1/4;
	background: blue;
	height: 200px;
}
.content{
	grid-column:1/4;
	background: green;
	height: 800px;
}